@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Nunito:ital,wght@0,200;0,300;0,500;0,600;0,700;1,200;1,300;1,700;1,900&family=Poppins:wght@300&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,400;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  position: relative;
  margin: 80px auto;
  background-color: rgb(231, 230, 230);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.header p {
  font-size: 18px;
  font-weight: 600;
}

.arrow-img {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.form {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

#todo-input {
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: inherit;
  border: none;
  outline: none;
}

input::placeholder {
  font-style: italic;
  font-weight: 500;
}

.to-do-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.todo {
  display: flex;
  gap: 10px;
  padding-top: 13px;
  font-weight: 400;
  padding-bottom: 7px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.Edit,
.delete {
  margin-left: 100%;
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.delete {
  display: none;
}

i.show {
  display: flex;
}

i.hide {
  display: none;
}

.list-text {
  outline: none;
}

.checkbox {
  margin-left: 10px;
  cursor: pointer;
}

.checkbox:checked + .list-text {
  text-decoration: line-through;
  color: rebeccapurple;
  font-style: italic;
  font-size: 17px;
  font-weight: 500;
}

.clear-btn {
  padding: 15px 20px;
  cursor: pointer;
  border: none;
  margin-top: -9px;
  background-color: rgb(189, 189, 189);
  font-size: 20px;
}
